.notifications-container {
  display: flex;
  flex-direction: column;
  z-index: 101;
  justify-content: center;
  position: absolute;
  background-color: rgba(230, 176, 175, 0.7);
  padding: 2rem;
  margin-top: 2rem;
  right: -5rem;
  border-radius: 0.5rem;
}

.friends {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 5rem;
  overflow: auto;
}

.friend-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(240, 248, 255, 0.5);
  padding: 1rem 1rem;
  border-radius: 1rem;
  margin: 1rem 0.2rem;
}

.friend-container__button {
  border-radius: 0.5rem;
  border: none;
  padding: 0.2rem 0.5rem;
  margin: 0 0.1rem;
  background-color: rgb(63, 174, 98);
  color: aliceblue;
}

.friend-container__button:hover {
  background-color: aliceblue;
  color: rgb(63, 174, 98);
  cursor: pointer;
}

@media (max-width: 30rem) {
  .notifications-container {
    right: -2rem;
    height: 10rem;
    padding-bottom: 0;
  }
  .friends {
    margin-bottom: 0rem;
  }
  .friend-container {
    margin: 0.5rem 0.2rem;
  }

  .friend-container__button {
    border-radius: 0.5rem;
    border: none;
    padding: 0.2rem 0.5rem;
    margin: 0 0.1rem;
    background-color: rgb(63, 174, 98);
    color: aliceblue;
  }
}

@media (max-width: 20rem) {
}

@media (max-height: 60rem) {
}

@media (max-height: 47rem) {
}
