.header {
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.list {
  display: flex;
  gap: 1rem;
}

.list a {
  background-color: transparent;
  color: aliceblue;
  padding: 0.5rem 1rem;
  border: 1px solid aliceblue;
  border-radius: 1rem;
  text-decoration: none;
  font-size: 0.8rem;
}

.list a:hover,
.list a:active,
.list a.active {
  background-color: rgb(63, 174, 98);
}

.main-form {
  display: flex;
  flex-direction: column;
  width: 15rem;
}

.main-form__item {
  height: 2rem;
  margin: 0.5rem;
}

@media (min-width: 57rem) {
  .header {
    padding: 2rem;
  }
  .list a {
    padding: 0.5rem 1.5rem;
    font-size: 1.5rem;
  }
}
