.wishlist-items__title {
  text-align: center;
}

.wishlist-items__ul {
  margin: 2rem;
  height: 15rem;
  overflow: auto;
  padding: 0 1rem;
}

.wishlist-items__li {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  margin: 1rem 0;
  width: 100%;
}

.wishlist-items__li:hover {
  color: aliceblue;
}

.wishlist-items__li-item {
  margin: 0 1rem;

  /* padding: 0 5rem; */
}

.wishlist-items__li-a {
  align-self: center;
}

.wishlist-items__buttons {
  display: flex;
  justify-content: center;
}
