.main-intro {
  display: flex;
  flex-direction: column;
  border-right: 2px solid aliceblue;
  width: 45%;
  margin-right: 2rem;
  padding-right: 1rem;
}
.main-message__one {
  font-size: 3rem;
  margin-bottom: 2rem;
  font-size: 2.5rem;
}
.main-message__two {
  color: aliceblue;
  font-size: 1.2rem;
  font-weight: 400;
}

@media (max-width: 30rem) {
  .main-intro {
    border-right: none;
    width: 70%;
    margin-right: 0;
    text-align: center;
  }
  .main-message__one {
    margin-bottom: 1rem;
    font-size: 1.2rem;
  }
  .main-message__two {
    font-size: 0.9rem;
    font-weight: 400;
  }
}

@media (max-height: 60rem) {
  .main-intro {
    margin-bottom: 0rem;
  }
  .main-message__one {
    font-size: 2rem;
  }
  .main-message__two {
    font-size: 1.2rem;
  }
}

@media (max-height: 47rem) {
  .main-intro {
    width: 75%;
  }
  .main-message__one {
    font-size: 1.2rem;
  }
  .main-message__two {
    font-size: 0.8rem;
  }
}
