.main-instructions {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-top {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0rem 2rem;
  /* padding: 0 5rem; */
}

.main-steps {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 0;
}

.main-step__number {
  border-radius: 100%;
  margin-right: 0.5rem;
  padding: 0.5rem 1.1rem;
  background-color: rgb(63, 174, 98);
  border: 1.5px solid aliceblue;
  font-size: 1.5rem;
  align-self: flex-start;
  color: aliceblue;
}

.main-step__description {
  font-size: 1.5rem;
  color: aliceblue;
}

.main-steps__button {
  display: flex;
  align-self: center;
  margin: 0.5rem 0;
}

@media (max-width: 30rem) {
  .main-instructions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2rem;
  }

  .main-top {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0rem 2rem;
    /* padding: 0 5rem; */
  }

  .main-steps {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 0;
  }

  .main-step__number {
    border-radius: 100%;
    margin-right: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: rgb(63, 174, 98);
    border: 1px solid aliceblue;
    font-size: 1rem;
    align-self: flex-start;
    color: aliceblue;
  }

  .main-step__description {
    font-size: 1rem;
    color: aliceblue;
  }

  .main-steps__button {
    display: flex;
    align-self: center;
    margin: 0.5rem 0;
  }
}

@media (max-width: 20rem) {
  .main-instructions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2rem;
  }

  .main-top {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0rem 2rem;
    /* padding: 0 5rem; */
  }

  .main-steps {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 0;
  }

  .main-step__number {
    border-radius: 100%;
    margin-right: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: rgb(63, 174, 98);
    border: 1px solid aliceblue;
    font-size: 0.8rem;
    align-self: flex-start;
    color: aliceblue;
  }

  .main-step__description {
    font-size: 0.8rem;
    color: aliceblue;
  }

  .main-steps__button {
    display: flex;
    align-self: center;
    margin: 0.5rem 0;
  }
}
