.about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0rem 6rem;
}

.about-text {
  text-align: center;
}

.about-text__header {
  font-size: 3rem;
  font-weight: bold;
  /* color: rgb(141, 238, 172); */
}

/* .about-contact__header {
  color: rgb(141, 238, 172);
} */

.about-contact {
  text-align: center;
  margin: 1rem;
  width: 60rem;
}

.about-text__pg {
  margin: 0.5rem 0;
}

.about-contact__pg {
  margin: 0.5rem 0;
}

@media (max-width: 30rem) {
  .about {
    height: 30rem;
    overflow: auto;
    margin: 0rem 2rem;
    /* width: 100%; */
  }
  .about-contact {
    text-align: center;
    margin: 1rem 0;
    width: 15rem;
    font-size: 1rem;
  }
}

@media (max-height: 60rem) {
  .about {
    height: 42rem;
    margin: 0rem 0rem;
  }
}

@media (max-height: 47rem) {
  .about {
    height: 27rem;
    margin: 0rem 0rem;
  }
}
