.about {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0 6rem;
  padding: 0 6rem;
}

/* .about {
  height: 30rem;
  overflow: auto;
  margin: 0rem 2rem;
  /* width: 50rem; */
/* width: 100%; */
.about-contact {
  text-align: center;
  margin: 2rem 0;
  width: 15rem;
  font-size: 1rem;
}

.about-text {
  text-align: center;
}

.about-text__header {
  font-size: 3rem;
  font-weight: bold;
  /* color: rgb(141, 238, 172); */
}

/* .about-contact__header {
  color: rgb(141, 238, 172);
} */

.about-contact {
  text-align: center;
  margin: 1rem;
  width: 60rem;
}

.about-text__pg {
  margin: 0.5rem 0;
}

.about-contact__pg {
  margin: 0.5rem 0;
}

.about-contact__button {
  margin-top: 3rem;
}

@media (max-width: 30rem) {
  .about {
    height: 30rem;
    overflow: auto;
    margin: 0rem 2rem;
    padding: 0 2rem;
    /* width: 100%; */
  }
  .about-contact {
    text-align: center;
    margin: 1rem 0;
    width: 15rem;
    font-size: 1rem;
  }
  .about-contact__button {
    margin-top: 0rem;
  }
}

@media (max-width: 20rem) {
  .about {
    margin: 0rem 2rem;
    padding: 0 0.5rem;
  }
  .about-contact {
    text-align: center;
    margin: 2rem 0;
    width: 15rem;
    font-size: 1rem;
  }
}

@media (max-height: 60rem) {
  .about {
    height: 42rem;
    margin: 0rem 0rem;
  }
}

@media (max-height: 47rem) {
  .about {
    height: 27rem;
    margin: 0rem 0rem;
  }
}
