.header {
  margin: auto;
  display: flex;
  padding: 1rem 5rem;
}

.list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.nav {
  display: flex;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
}

li {
  display: flex;
  margin: 0 3rem;
  text-decoration: none;
  color: aliceblue;
  font-size: 1.3rem;
}

.list a {
  text-decoration: none;
  color: aliceblue;
}

li:hover {
  color: rgb(63, 174, 98);
  cursor: pointer;
}

.list a:hover {
  color: rgb(63, 174, 98);
  cursor: pointer;
}

.logo {
  width: 4.5rem;
  margin: 1rem 0rem 1rem 0rem;
  padding: 0.5rem 0.5rem;
  background-color: rgb(237, 237, 237);
  border-radius: 100%;
}

@media (max-width: 30rem) {
  .header {
    margin: auto;
    display: flex;
    padding: 1rem 0rem;
  }
  .list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 90%;
    align-items: center;
  }
  li {
    display: flex;
    margin: 0 1rem;
    text-decoration: none;
    color: aliceblue;
    font-size: 0.8rem;
  }
  .logo {
    width: 3rem;
    background-color: rgb(237, 237, 237);
    border-radius: 100%;
  }
}
