.header {
  margin: auto;
  padding: 1rem 5rem;
  display: flex;
}

.list {
  display: flex;
  justify-content: space-between;

  align-items: center;
}

.nav {
  width: 100vw;
}
.nav-link {
  padding: 0.5rem 0.8rem;
  font-size: 1.2rem;
}

.nav-link__button {
  background-color: rgb(63, 174, 98);
  padding: 0.5rem 0.8rem;
  font-size: 1.2rem;
  border-radius: 1.5rem;
  border: none;
  color: aliceblue;
}

.nav-link__button:hover {
  background-color: aliceblue;
  color: rgb(63, 174, 98);
  cursor: pointer;
}

.auth {
  display: flex;

  align-items: center;
  margin: 0 3rem;
}

.nav-links {
  display: flex;
}

li {
  display: flex;
  margin: 0 3rem;
  text-decoration: none;
  color: aliceblue;
  font-size: 1.3rem;
}

.list a {
  text-decoration: none;
  color: aliceblue;
}

li:hover {
  color: rgb(63, 174, 98);
  cursor: pointer;
}

.list a:hover {
  color: rgb(63, 174, 98);
  cursor: pointer;
}

.logo {
  width: 4.5rem;
  margin: 1rem 3rem;
  padding: 0.5rem 0.5rem;
  background-color: rgb(237, 237, 237);
  border-radius: 100%;
}
